<!-- expects a parameter called "pst" -->
{% assign post = {{ include.pst }} %}
{% if post.link %}
  <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
{% else %}
  <!-- it's actually one of our pages -->
  <h2>
    {% assign images = post.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src' %}
        <!-- hack because html5 videos mess this all up (I'm not really sure why) -->
        {% unless image contains 'webm' %}
          {% assign imgsrc = image | split:"/>" | first %}
          <a href="{{ site.url }}{{ post.url }}"><img class="image-preview" {{ imgsrc }} /></a>
          {% break %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
  <p class="byline.no-clear"><small>by <a href="{{ site.url }}/{{ site.data.authors[post.author].page }}">{{ site.data.authors[post.author].name }}</a>, <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d" }}</time></small></p>
  <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
{% endif %}
